In [2]:
pip install meteostat

Requirement already satisfied: meteostat in c:\users\legion\appdata\local\programs\python\python39\lib\site-packages (1.7.4)
Requirement already satisfied: pandas>=2 in c:\users\legion\appdata\local\programs\python\python39\lib\site-packages (from meteostat) (2.2.3)
Requirement already satisfied: pytz in c:\users\legion\appdata\local\programs\python\python39\lib\site-packages (from meteostat) (2024.2)
Requirement already satisfied: numpy in c:\users\legion\appdata\local\programs\python\python39\lib\site-packages (from meteostat) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\legion\appdata\local\programs\python\python39\lib\site-packages (from pandas>=2->meteostat) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in c:\users\legion\appdata\local\programs\python\python39\lib\site-packages (from pandas>=2->meteostat) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\legion\appdata\local\programs\python\python39\lib\site-packages (from python-dateutil>=2.8.2->pandas>=2->meteostat) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
from datetime import datetime
from meteostat import Hourly, Stations
import pandas as pd

# Set time period
start = datetime(2025, 1, 1)
end = datetime(2025, 1, 31, 23, 59)

# Find weather station for NYC (e.g., Central Park)
stations = Stations()
station = stations.nearby(40.7812, -73.9665).fetch(1)

# Fetch hourly data
data = Hourly(station.index[0], start, end)
df_weather = data.fetch()

# Save to CSV
df_weather.to_csv("nyc_jan2025_hourly_weather.csv")

# Preview
print(df_weather.head())

                     temp  dwpt  rhum  prcp  snow  wdir  wspd  wpgt    pres  \
time
2025-01-01 00:00:00   9.0   4.0  71.0   0.0  <NA>  50.0  11.0  <NA>  1006.0
2025-01-01 01:00:00   7.0   4.8  86.0   0.0  <NA>  27.0   6.0  <NA>  1004.0
2025-01-01 02:00:00   7.0   5.0  87.0   2.2  <NA>  60.0  13.0  <NA>  1003.0
2025-01-01 03:00:00   7.0   5.5  90.0   4.3  <NA>  60.0  13.0  <NA>  1002.0
2025-01-01 04:00:00   8.0   6.3  89.0   4.7  <NA>  80.0  15.0  <NA>  1000.0

                     tsun  coco
time
2025-01-01 00:00:00  <NA>   3.0
2025-01-01 01:00:00  <NA>   3.0
2025-01-01 02:00:00  <NA>   9.0
2025-01-01 03:00:00  <NA>   9.0
2025-01-01 04:00:00  <NA>   9.0

In [4]:
#loading weather data
weather_df = pd.read_csv("D:/traffic-congestion-predictor/data/raw/nyc_jan2025_hourly_weather.csv")

weather_df.info()
weather_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 744 entries, 0 to 743
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   time    744 non-null    object
 1   temp    744 non-null    float64
 2   dwpt    744 non-null    float64
 3   rhum    744 non-null    float64
 4   prcp    744 non-null    float64
 5   snow    0 non-null      float64
 6   wdir    744 non-null    float64
 7   wspd    744 non-null    float64
 8   wpgt    0 non-null      float64
 9   pres    744 non-null    float64
 10  tsun    0 non-null      float64
 11  coco    744 non-null    float64
dtypes: float64(11), object(1)
memory usage: 69.9+ KB

,time,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco
0,2025-01-01 00:00:00,9.0,4.0,71.0,0.0,NaN,50.0,11.0,NaN,1006.0,NaN,3.0
1,2025-01-01 01:00:00,7.0,4.8,86.0,0.0,NaN,27.0,6.0,NaN,1004.0,NaN,3.0
2,2025-01-01 02:00:00,7.0,5.0,87.0,2.2,NaN,60.0,13.0,NaN,1003.0,NaN,9.0
3,2025-01-01 03:00:00,7.0,5.5,90.0,4.3,NaN,60.0,13.0,NaN,1002.0,NaN,9.0
4,2025-01-01 04:00:00,8.0,6.3,89.0,4.7,NaN,80.0,15.0,NaN,1000.0,NaN,9.0

In [5]:
#Rename 'time' to 'hour' to match taxi data column (optional but helps)
weather_df.rename(columns={'time': 'hour'}, inplace=True)

#Convert 'hour' column to datetime format
weather_df['hour'] = pd.to_datetime(weather_df['hour'])
print(weather_df.dtypes)
weather_df.head()

hour    datetime64[ns]
temp           float64
dwpt           float64
rhum           float64
prcp           float64
snow           float64
wdir           float64
wspd           float64
wpgt           float64
pres           float64
tsun           float64
coco           float64
dtype: object

,hour,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco
0,2025-01-01 00:00:00,9.0,4.0,71.0,0.0,NaN,50.0,11.0,NaN,1006.0,NaN,3.0
1,2025-01-01 01:00:00,7.0,4.8,86.0,0.0,NaN,27.0,6.0,NaN,1004.0,NaN,3.0
2,2025-01-01 02:00:00,7.0,5.0,87.0,2.2,NaN,60.0,13.0,NaN,1003.0,NaN,9.0
3,2025-01-01 03:00:00,7.0,5.5,90.0,4.3,NaN,60.0,13.0,NaN,1002.0,NaN,9.0
4,2025-01-01 04:00:00,8.0,6.3,89.0,4.7,NaN,80.0,15.0,NaN,1000.0,NaN,9.0

In [6]:
#only relevant features are taken
df_weather['snow'].isna().mean()  # Percentage of missing snow data

np.float64(1.0)

In [7]:
df_weather[df_weather['snow'].notna() & (df_weather['snow'] > 0)]

Empty DataFrame
Columns: [temp, dwpt, rhum, prcp, snow, wdir, wspd, wpgt, pres, tsun, coco]
Index: []

In [8]:
df_snow = pd.read_csv("D:/traffic-congestion-predictor/data/raw/snowfall_data.csv")

In [11]:
df_snow.info()
df_snow.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date (2025)          31 non-null     object
 1   Snow (mm)            31 non-null     object
 2   Flag                 0 non-null      float64
 3   Snow on Ground (mm)  31 non-null     object
dtypes: float64(1), object(3)
memory usage: 1.1+ KB

  Date (2025) Snow (mm)  Flag Snow on Ground (mm)
0       01-01       0.0   NaN                 0.0
1       01-02       0.0   NaN                 0.0
2       01-03       0.0   NaN                 0.0
3       01-04       0.0   NaN                 0.0
4       01-05       0.0   NaN                 0.0
5       01-06     22.86   NaN                 0.0
6       01-07       0.0   NaN               30.48
7       01-08       0.0   NaN               Trace
8       01-09       0.0   NaN                 0.0
9       01-10       0.0   NaN                 0.0

In [15]:
import numpy as np

# Parse date properly
snow_df = pd.read_csv("D:/traffic-congestion-predictor/data/raw/snowfall_data.csv")
snow_df['date'] = pd.to_datetime("2025-" + snow_df['Date (2025)'], format='%Y-%m-%d', errors='coerce')

# Step 1: Encode snow as 1 or 0
def encode_snow(row):
    snow = row['Snow (mm)']
    ground = row['Snow on Ground (mm)']
    if isinstance(ground, str) and 'trace' in ground.lower():
        return 1
    if pd.to_numeric(snow, errors='coerce') > 0:
        return 1
    if pd.to_numeric(ground, errors='coerce') > 0:
        return 1
    return 0

snow_df['snowed'] = snow_df.apply(encode_snow, axis=1)

# Step 2: Expand each date into 24 hourly timestamps
expanded_rows = []

for _, row in snow_df.iterrows():
    if pd.isnull(row['date']):
        continue
    for hour in range(24):
        dt = pd.Timestamp(row['date']) + pd.Timedelta(hours=hour)
        expanded_rows.append({'hour': dt, 'snowed': row['snowed']})

hourly_snow_df = pd.DataFrame(expanded_rows)

# Step 3: Now merge with weather_df on 'hour'
weather_df['hour'] = pd.to_datetime(weather_df['hour'])

merged_df = pd.merge(weather_df, hourly_snow_df, on='hour', how='left')
merged_df['snowed'] = merged_df['snowed'].fillna(0).astype(int)

# Step 4: Save the final merged data
merged_df.to_csv("D:/traffic-congestion-predictor/data/processed/weather_with_snow.csv", index=False)

In [22]:
merged_df.sample(10)

,hour,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco,snowed
516,2025-01-22 12:00:00,-12.0,-20.8,48.0,0.0,NaN,354.0,7.9,NaN,1034.0,NaN,1.0,1
316,2025-01-14 04:00:00,2.0,-8.7,45.0,0.0,NaN,300.0,15.0,NaN,1014.0,NaN,1.0,0
150,2025-01-07 06:00:00,-7.0,-14.7,54.0,0.0,NaN,300.0,17.0,NaN,1008.0,NaN,3.0,1
80,2025-01-04 08:00:00,-1.0,-11.4,45.0,0.0,NaN,290.0,19.0,NaN,1009.0,NaN,3.0,0
159,2025-01-07 15:00:00,-3.0,-13.5,44.0,0.0,NaN,290.0,24.0,NaN,1010.0,NaN,3.0,1
181,2025-01-08 13:00:00,-4.0,-15.3,41.0,0.0,NaN,290.0,17.0,NaN,1016.0,NaN,2.0,1
579,2025-01-25 03:00:00,-3.0,-14.1,42.0,0.0,NaN,273.0,5.8,NaN,1025.0,NaN,3.0,1
52,2025-01-03 04:00:00,1.0,-9.0,47.0,0.0,NaN,270.0,19.0,NaN,1015.0,NaN,3.0,0
570,2025-01-24 18:00:00,0.0,-13.3,36.0,0.0,NaN,260.0,13.0,NaN,1022.0,NaN,1.0,1
41,2025-01-02 17:00:00,4.9,-5.7,46.0,0.0,NaN,287.0,24.1,NaN,1013.2,NaN,3.0,0